/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

.base-main {
	margin-top: 40px
}

.navbar {
	background-color: #1d1d1d
}

.navbar-brand {
	color: #fff
}

.nav-link, .nav-link:hover {
	color:#dedede
}

.navbar-toggler {
	background-color: #dedede;
	padding:0.125rem
}

.navbar-toggler-icon {
    background-image: url("/static/img/hamburger.svg");
}

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) { ... } */

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */