{% extends "base.html" %}

{% block content %}
<h1>Going On Vacation</h1>
<form action="/story-2">
	<div class="form-group">
		<label for="place">Place</label>
		<input class="form-control" id="place" name="place" type="text" />
	</div>
	<div class="form-group">
		<label for="noun">Noun</label>
		<input class="form-control" id="noun" name="noun" type="text" />
	</div>
	<div class="form-group">
		<label for="verb">Verb</label>
		<input class="form-control" id="verb" name="verb" type="text" />
	</div>
	<div class="form-group">
		<label for="adjective">Adjective</label>
		<input class="form-control" id="adjective" name="adjective" type="text" />
	</div>
	<div class="form-group">
		<label for="plural_noun">Plural Noun</label>
		<input class="form-control" id="plural_noun" name="plural_noun" type="text"/>
	</div>
	<button class="btn btn-block btn-primary">Submit</button>
</form>
{% endblock %}