{% extends "base.html" %}

{% block content %}
<h1>Madlibs</h1>
<form action="/story-4">
	<label for="place">Place</label>
	<input id="place" name="place" type="text">
	<label for="noun">Noun</label>
	<input id="noun" name="noun" type="text">
	<label for="verb">Verb</label>
	<input id="verb" name="verb" type="text">
	<label for="adjective">Adjective</label>
	<input id="adjective" name="adjective" type="text">
	<label for="plural_noun">Plural Noun</label>
	<input id="plural_noun" name="plural_noun" type="text">
	<button>Submit</button>
</form>
{% endblock %}